@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen {
    html, body {
        background-color: #202B33;
        color: #738491;
        font-family: "Open Sans";
        font-size: 16px;
        font-smoothing: antialiased;
        overflow: hidden;
    }

    header {
        color: #D3D3D3;
    }

    nav {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 82%;
        left: 0;
        padding: 22px;
        border-right: 2px solid #161e23;
    }

    nav > header {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    nav section {
        font-weight: 600;
    }

    nav section header {
        padding-top: 30px;
    }

    nav section ul {
        list-style: none;
        padding: 0px;
    }

    nav section ul li {
        position: relative;
        padding: 10px 0px;
    }

    nav section ul li.active {
        color: #2278AE;
    }

    nav section ul li:after {
        content: attr(data-value);
        position: absolute;
        right: 0px;
        width: 19px;
        background-color: #738491;
        font-size: 0.9rem;
        color: #202B33;
        -moz-border-radius: 19px;
        -webkit-border-radius: 19px;
        border-radius: 19px;
        text-align: center;
    }


    article {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 18%;
        overflow: auto;
        border-left: 2px solid #2a3843;
        padding: 20px;
    }

    article > header {
        height: 60px;
        border-bottom: 1px solid #2a3843;
    }

    article > header .title {
        float: left;
        font-size: 1.3rem;
        font-weight: 600;
    }

    article > header .interval {
        float: right;
    }

    article > header .interval ul {
        padding: 0;
        list-style: none;
    }

    article > header .interval ul li {
        float: right;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 2px 10px;
        margin: 0px 10px;
    }

    article > header .interval ul li.active {
        background-color: #D3D3D3;
        color: #202B33;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    article section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    article section > header {
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-weight: 600;
    }

    article section .chart {
        height: 200px;
    }

    .topnav .icon {
  display: none;
        }
}
        /*{#Phone#}*/
        @media screen and (max-width:480px){
                html, body {
        background-color: #202B33;
        color: #738491;
        font-family: "Open Sans";
        font-size: 16px;
        font-smoothing: antialiased;
        overflow: hidden;
    }

    header {
        color: #D3D3D3;
    }

    .topnav section ul li a{display: none;}
    .topnav section ul header{display: none;}
  .topnav a.icon {
          position: absolute;
    right: 0;
    top: 0;
    display: block;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive section ul li a.glyphicon.glyphicon-th-large.link-icon{
    float: none;
    display: block;
    text-align: left;
  }
    .topnav.responsive section ul li a.glyphicon-signal.link-icon{
    float: none;
    display: block;
    text-align: left;
  }

    nav > header {
        font-weight: 700;
        font-size: 0.5rem;
        text-transform: uppercase;
    }

    nav section {
        font-weight: 600;
    }

    nav section header {
        padding-top: 15px;
    }

    nav section ul {
        list-style: none;
        padding: 0px;
    }

    nav section ul li {
        position: relative;
        padding: 10px 0px;
    }

    nav section ul li.active {
        color: #2278AE;
    }

    nav section ul li:after {
        content: attr(data-value);
        position: absolute;
        right: 0px;
        width: 19px;
        background-color: #738491;
        font-size: 0.9rem;
        color: #202B33;
        -moz-border-radius: 19px;
        -webkit-border-radius: 19px;
        border-radius: 19px;
        text-align: center;
    }

    article {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 20%;
        overflow: auto;
    }

    article > header {
        height: 60px;
        border-bottom: 1px solid #2a3843;
    }

    article > header .title {
        float: left;
        font-size: 0.5rem;
        font-weight: 600;
    }

    article > header .interval {
        float: right;
    }

    article > header .interval ul {
        padding: 0;
        list-style: none;
    }

    article > header .interval ul li {
        float: right;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 2px 10px;
        margin: 0px 10px;
    }

    article > header .interval ul li.active {
        background-color: #D3D3D3;
        color: #202B33;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    article section {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    article section > header {
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-weight: 600;
    }

    article section .chart {
        height: 200px;
    }
        }
