{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/area-chart.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <section>
    <div class="chart">
<svg id="chart"></svg>
    </section>
    <select id="selectbox">
	<option value="confirmedCount_">確診人數</option>
	<option value="curedCount_">痊癒人數</option>
    <option value="deadCount_">死亡人數</option>
</select>
            </div>
        <script src="{{ url_for('static', filename='js/area-chart.js') }}"></script>
<script>


d = JSON.parse('{{ data | safe }}');
chart(d);

</script>

{% endblock %}