<!DOCTYPE html>
<html>
  <head>
      <script data-ad-client="pub-1428468299980591" async src="https://pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBDVDSB');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="即時回報目前新型冠狀病毒(Covid19,武漢肺炎)之各國資訊">
      <link rel="icon" type="image/x-icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/virus-71-568647.png" />
    <title>新型冠狀病毒(Covid19,武漢肺炎)疫情狀況即時情況</title>
      <script src="https://kit.fontawesome.com/14237074f4.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.bootcss.com/heatmap.js/2.0.2/heatmap.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
      <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
      <script src="{{ url_for('static', filename='js/leaflet-heatmap.js') }}"></script>
            <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
      <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
      <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>
  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBDVDSB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav>
  <header>Covid19 Report</header>
  <section>
    <header>Main</header>
    <ul>
      <li class="active"><a href="{{   url_for('covid19.index') }}">Dashboard</a></li>
      <li><a href="{{ url_for('covid19.area_chart') }}">Area Chart</a></li>
    </ul>
  </section>
  <section>
    <header>Related Link</header>
    <ul>
      <li><a href="https://emask.taiwan.gov.tw/msk/index.jsp">口罩購買網站(官方)</a></li>
      <li><a href="https://www.cdc.gov.tw/Category/List/nFqbyDDKTzaRmmgkUcjHpw">官方疫情訊息</a></li>
    </ul>
  </section>
</nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
