{% extends "base.html" %}
{% block content %}
      <section>
    <header>Total Sales</header>
    <div class="inlineChart">
      <canvas id="c2" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">{{ all_d[1] }}</div>
        <div class="title">總染病人數</div>
      </div>
    </div>
    <div class="inlineChart">
      <canvas id="c3" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">{{ all_d[0] }}</div>
        <div class="title">總痊癒人數</div>
      </div>
    </div>
    <div class="inlineChart">
      <canvas id="c4" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">{{ all_d[2] }}</div>
        <div class="title">總死亡人數</div>
      </div>
    </div>
  </section>
{% endblock %}